# TP2 - DB Normalization and Querying

The objectives of this TP are:
1. Apply normalization 1NF -> 2NF -> 3NF
2. Perform SQL queries on the normalized database

In this TP, we will use a database **`wine.db`** (available in the course's website) containing wine information related to 'production' and 'sales'. 

> Production <---> Wine <---> Sales


---

### Working with db files in Jupyter
- Python provides an interface for SQLite through the *sqlite3* module
- The **`%%sql`** magic builds upon it (and other tools) to enable the usage of SQL commands within a Jupyter Notebook as in common SQL clients.
- Before proceeding, make sure that **`wine.db`** is in the same path as this notebook.
  - If **`wine.db`** is not in the same path, an empty **`wine.db`** file will be created, resulting in errors in later steps of the TP.
- The SQLite module in Python commits transactions automatically, this means that any change in the DB is immediately written to the file, e.g. creating/deleting tables.
  -  For this reason, it is recommended to have a backup of **`wine.db`** as it is provided in the course's website.

---

**`wine.db`** contains the following unnormalized tables:

<center>**Master1**</center>

|*Attribute*|         *Description*          |
| -------   |--------------------------------|
| NV        | Wine number                    |
| CRU       | Vineyard or group of vineyards |
| DEGRE     | Alcohol content                |
| MILL      | Vintage year                   |
| QTE       | Number of bottles harvested    |
| NP        | Producer number                |
| NOM       | Producer's last name           |
| PRENOM    | Producer's first name          |
| REGION    | Production region              |

From wikipedia:

__Cru__: Often used to indicate a specifically named and legally defined vineyard or ensemble of vineyards and the vines "which grow on [such] a reputed terroir; by extension of good quality." The term is also used to refer to the wine produced from such vines.


<center>**Master2**</center>

|*Attribute*|                         *Description*                  |
| -------   |--------------------------------------------------------|
| NV        | Wine number                                            |
| CRU       | Vineyard or group of vineyards                         |
| DEGRE     | Alcohol content                                        |
| MILL      | Vintage year                                           |
| DATES     | Buying date                                            |
| LIEU      | Place where the wine was sold                          |
| QTE       | Number of bottles bought                               |
| NB        | Client (buveur) number                                 |
| NOM       | Client's last name                                     |
| PRENOM    | Client's first name                                    |
| TYPE      | Type of client by volume of purchases                  |
| REGION    | Administrative Region (different to production region) |

In [2]:
import sqlite3    # Python interface for SQLite databases

In [3]:
def printSchema(connection):
    # Function to print the DB schema
    # Source: http://stackoverflow.com/a/35092773/4765776
    for (tableName,) in connection.execute(
        """
        select NAME from SQLITE_MASTER where TYPE='table' order by NAME;
        """
    ):
        print("{}:".format(tableName))
        for (
            columnID, columnName, columnType,
            columnNotNull, columnDefault, columnPK,
        ) in connection.execute("pragma table_info('{}');".format(tableName)):
            print("  {id}: {name}({type}){null}{default}{pk}".format(
                id=columnID,
                name=columnName,
                type=columnType,
                null=" not null" if columnNotNull else "",
                default=" [{}]".format(columnDefault) if columnDefault else "",
                pk=" *{}".format(columnPK) if columnPK else "",
            ))

In [4]:
conn = sqlite3.connect('wine.db')
c = conn.cursor()
print("Database schema:")
printSchema(conn)           # An usefull way to viualize the content of the database

Database schema:
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(DATE)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)

From this point we will use __%%sql__ magic

In [5]:
%load_ext sql
%sql sqlite:///wine.db

u'Connected: @wine.db'

# PART I: Database normalization

The first task on this TP is the normalization of the wine data. In its current state both tables **Master1** and **Master2** are in the First Normal Form (1NF).

By inspecting the content of these tables we can see that multiple tuples have NULL values.

In [6]:
%%sql SELECT *
FROM Master1

 * sqlite:///wine.db
Done.

[(None, None, None, None, None, 3, u'Six', u'Paul', u'Alsace'),
 (None, None, None, None, None, 6, u'Marmagne', u'Bernard', u'Bourgogne'),
 (None, None, None, None, None, 8, u"Lioger d'Harduy", u'Gabriel', u'Bourgogne'),
 (None, None, None, None, None, 16, u'Barbin', u'Bernard', u'Bourgogne'),
 (None, None, None, None, None, 17, u'Faiveley', u'Guy', u'Bourgogne'),
 (None, None, None, None, None, 18, u'Tramier', u'Jean', u'Bourgogne'),
 (None, None, None, None, None, 19, u'Dupaquier', u'Roger', u'Bourgogne'),
 (None, None, None, None, None, 20, u'Lamy', u'Jean', u'Bourgogne'),
 (None, None, None, None, None, 21, u'Cornu', u'Edmond', u'Bourgogne'),
 (None, None, None, None, None, 26, u'Violot', u'Gilbert', u'Bourgogne'),
 (None, None, None, None, None, 28, u'Monnier', u'Rene', u'Bourgogne'),
 (None, None, None, None, None, 29, u'de Suremain', u'Robert', u'Bourgogne'),
 (None, None, None, None, None, 31, u'Prudhon', u'Henri', u'Bourgogne'),
 (None, None, None, None, None, 32, u'Mestre', u'Philippe', u'Bourgogne'),
 (None, None, None, None, None, 33, u'Prieur', u'Guy', u'Bourgogne'),
 (None, None, None, None, None, 34, u'Monnier', u'Rene', u'Bourgogne'),
 (None, None, None, None, None, 37, u'Delagrange Bachelet', None, u'Bourgogne'),
 (None, None, None, None, None, 39, u'de Suremin', u'Hugues', u'Bourgogne'),
 (None, None, None, None, None, 41, u'Juillot', u'Michel', u'Bourgogne'),
 (None, None, None, None, None, 44, u'Feyveley', None, u'Bourgogne'),
 (None, None, None, None, None, 47, u'Thenard', None, u'Bourgogne'),
 (None, None, None, None, None, 48, u'Flamand', None, u'Bourgogne'),
 (None, None, None, None, None, 49, u'Guillot', u'Pierre', u'Bourgogne'),
 (None, None, None, None, None, 51, u'Simonet', u'Leon', u'Bourgogne'),
 (None, None, None, None, None, 53, u'Cooperative', None, u'Bourgogne'),
 (None, None, None, None, None, 57, u'Desmules', u'Pierre', u'Beaujolais'),
 (None, None, None, None, None, 58, u'Joubert', u'Claude', u'Beaujolais'),
 (None, None, None, None, None, 61, u'Champier', u'Charles', u'Beaujolais'),
 (None, None, None, None, None, 62, u'Champagnon', u'Louis', u'Beaujolais'),
 (None, None, None, None, None, 66, u'Cooperative', None, u'Beaujolais'),
 (None, None, None, None, None, 77, u'Tissot', u'Andre', u'Jura'),
 (None, None, None, None, None, 83, u'Goy', None, u'Jura'),
 (None, None, None, None, None, 91, u'Chave', u'Gerard', u'Rhone'),
 (None, None, None, None, None, 92, u'De Boissieu', None, u'Rhone'),
 (None, None, None, None, None, 94, u'Grippat', u'Jean Louis', u'Rhone'),
 (None, None, None, None, None, 96, u'Boisson', u'Jean Pierre', u'Rhone'),
 (None, None, None, None, None, 97, u'Quiot', u'Pierre', u'Rhone'),
 (None, None, None, None, None, 100, u'Bernard', u'Georges', u'Rhone'),
 (None, None, None, None, None, 101, u'Verdan', u'Antoine', u'Rhone'),
 (None, None, None, None, None, 102, u'Cooperative', None, u'Rhone'),
 (None, None, None, None, None, 103, u'Coulouvrat', u'Michel', u'Rhone'),
 (None, None, None, None, None, 104, u'Rabasse Chavarin', u'Abel', u'Rhone'),
 (None, None, None, None, None, 105, u'Roux', u'Charles', u'Rhone'),
 (None, None, None, None, None, 106, u'Alary', None, u'Rhone'),
 (None, None, None, None, None, 108, u'Archimbaud', u'Jean', u'Rhone'),
 (None, None, None, None, None, 109, u'Rey', u'Marcel', u'Rhone'),
 (None, None, None, None, None, 110, u'Cooperative', None, u'Rhone'),
 (None, None, None, None, None, 111, u'Zafiropulo', u'Costa', u'Provence'),
 (None, None, None, None, None, 112, u'Prebost', u'Gaston', u'Provence'),
 (None, None, None, None, None, 113, u'Gomez', u'Rene', u'Provence'),
 (None, None, None, None, None, 114, u'Brunet', u'Georges', u'Provence'),
 (None, None, None, None, None, 115, u'Bordonado', u'Raymond', u'Provence'),
 (None, None, None, None, None, 116, u'Imbert', u'Christian', u'Corse'),
 (None, None, None, None, None, 117, u'Cooperative', None, u'Languedoc'),
 (None, None, None, None, None, 118, u'Cooperative', None, u'Languedoc'),
 (None, None, None, None, None, 119, u'Cooperative', None, u'Pyrenees'),
 (None, None, None, None, None, 121, u'Cooperative', None, u'Pyrenees'),
 (None, None, None, None, None, 122, u'Dupuy', u'Charles', u'Pyrenees'),
 (None, None, None, None, None, 123, u'Laurent', u'Pierre', u'Pyrenees'),
 (None, None, None, None, None, 124, u'Daurat Fort', u'Robert', u'Pyrenees'),
 (None, None, None, None, None, 125, u'Baldes', u'Jean', u'Sud'),
 (None, None, None, None, None, 126, u'Jouffreau', u'Jean', u'Sud'),
 (None, None, None, None, None, 127, u'Brumont', u'Alban', u'Sud'),
 (None, None, None, None, None, 129, u'Barrere', u'Alfred', u'Sud'),
 (1, u'Mercurey', 11.5, 1980, 300, 1, u'Bohn', u'Rene', u'Alsace'),
 (1, u'Mercurey', 11.5, 1980, 1, 73, u'Bourguignon', u'Emile', u'Jura'),
 (2, u'Julienas', 11.3, 1974, 100, 5, u'Joudeat', u'Lucien', u'Bourgogne'),
 (3, u'Savigny les Beaunes', 12.1, 1978, 400, 1, u'Bohn', u'Rene', u'Alsace'),
 (4, u'Mercurey', 10.9, 1980, 35, 10, u'Fournier', u'Jean Claude', u'Bourgogne'),
 (5, u'Pommard', 11.7, 1976, 46, 30, u'Desbois', u'Maurice', u'Bourgogne'),
 (6, u'Mercurey', 11.2, 1981, 300, 42, u'Juillot', u'Maurice', u'Bourgogne'),
 (7, u'Grands Echezeaux', 11.7, 1968, 60, 98, u'Berard', None, u'Rhone'),
 (8, u'Cotes de Beaune Villages', 12.3, 1975, 12, 90, u'Roure', u'Raymond', u'Rhone'),
 (9, u'Chapelle Chambertin', 11.9, 1973, None, None, None, None, None),
 (10, u'Beaujolais Villages', 11.8, 1979, 100, 98, u'Berard', None, u'Rhone'),
 (11, u'Sylvaner', 11.2, 1982, 200, 5, u'Joudeat', u'Lucien', u'Bourgogne'),
 (12, u'Gentil', 10.7, 1975, 31, 7, u'Lasnier', u'Pierre', u'Bourgogne'),
 (12, u'Gentil', 10.7, 1975, 200, 43, u'Menand', u'Jean Claude', u'Bourgogne'),
 (12, u'Gentil', 10.7, 1975, 310, 89, u'Michelas', u'Robert', u'Rhone'),
 (13, u'Cotes du Rhone', 12.3, 1968, 13, 13, u'Grivot', u'Jean', u'Bourgogne'),
 (14, u'Chateau Chalon', 10.9, 1978, 180, 86, u'Dumazet', u'Marc', u'Rhone'),
 (15, u'Cote de Brouilly', 11.9, 1973, 290, 80, u'Devaux', u'Jean Paul', u'Jura'),
 (16, u'Meursault', 12.1, 1980, 100, 38, u'de Launay', u'Paul', u'Bourgogne'),
 (17, u'Meursault', 11.4, 1975, 50, 95, u'Verset', u'Louis', u'Rhone'),
 (18, u'Chambolle Musigny', 12.3, 1968, 120, 40, u'Genelot', u'Maurice', u'Bourgogne'),
 (19, u'Clos du roi', 11.2, 1972, 986, 7, u'Lasnier', u'Pierre', u'Bourgogne'),
 (20, u'Cote de Brouilly', 12.1, 1980, 100, 50, u'Chagny', u'Georges', u'Bourgogne'),
 (21, u'Cotes de Nuits', None, 1978, 150, 5, u'Joudeat', u'Lucien', u'Bourgogne'),
 (22, u'Savigny les Beaunes', None, 1974, 50, 86, u'Dumazet', u'Marc', u'Rhone'),
 (23, u'Pommard', None, 1972, 15, 86, u'Dumazet', u'Marc', u'Rhone'),
 (24, u'Cotes de Beaune Villages', 12.1, 1971, 859, 36, u'Sauzet', u'Etienne', u'Bourgogne'),
 (25, u'Chapelle Chambertin', 10.5, 1968, 40, 95, u'Verset', u'Louis', u'Rhone'),
 (26, u'Chateau Corton Grancey', None, 1980, 70, 43, u'Menand', u'Jean Claude', u'Bourgogne'),
 (27, u'Puligny Montrachet', 11, 1974, 60, 99, u'Cooperative', None, u'Rhone'),
 (28, u'Volnay', 11, 1980, 10, 50, u'Chagny', u'Georges', u'Bourgogne'),
 (29, u'Corton', 11.6, 1972, 50, 50, u'Chagny', u'Georges', u'Bourgogne'),
 (30, u'Bourgogne Passe Tout Grains', 12, 1979, 350, 22, u'Dubreuil Fontaine', u'Pierre', u'Bourgogne'),
 (31, u'Monthelie', 11.4, 1968, 320, 50, u'Chagny', u'Georges', u'Bourgogne'),
 (32, u'Pouilly Vinzelles', 12.3, 1968, 500, 9, u'Moniot', u'Gilbert', u'Bourgogne'),
 (32, u'Pouilly Vinzelles', 12.3, 1968, 890, 72, u'Reverchon', u'Joseph', u'Jura'),
 (33, u'Santenay', 12, 1972, 70, 60, u'Vernus', u'Georges', u'Beaujolais'),
 (34, u'Montagny', 11.2, 1978, None, 4, u'Stentz', u'Fernand', u'Alsace'),
 (35, u'Auxey Duresses', 11.3, 1914, 900, 10, u'Fournier', u'Jean Claude', u'Bourgogne'),
 (35, u'Auxey Duresses', 11.3, 1914, 350, 23, u'Laleure', None, u'Bourgogne'),
 (36, u'Chorey les Beaunes', 11, 1955, 50, 93, u'Marsanne', u'Jean', u'Rhone'),
 (37, u'Savigny les Beaunes', 10, 1978, 830, 54, u'Cooperative', None, u'Bourgogne'),
 (38, u'Savigny les Beaunes', 11, 1977, 125, 52, u'Lapierre', u'Jean', u'Bourgogne'),
 (39, u'Savigny les Beaunes', None, 1973, 80, 52, u'Lapierre', u'Jean', u'Bourgogne'),
 (40, u'Richebourg', 12, 1943, 90, None, None, None, None),
 (41, u'Clairette de Die', 12, 1976, 25, 76, u'Maire', u'Henri', u'Jura'),
 (42, u'Beaujolais Primeur', 12, 1983, 80, 82, u'Mollex', u'Georges', u'Savoie'),
 (43, u'Fleurie', 11.4, 1980, 500, 13, u'Grivot', u'Jean', u'Bourgogne'),
 (43, u'Fleurie', 11.4, 1980, 900, 72, u'Reverchon', u'Joseph', u'Jura'),
 (43, u'Fleurie', 11.4, 1980, 983, 85, u'Champet', u'Emile', u'Rhone'),
 (44, u'Moulin a vent', None, 1983, 40, 93, u'Marsanne', u'Jean', u'Rhone'),
 (45, u'Chiroubles', None, 1983, 90, 2, u'Boxler', u'Albert', u'Alsace'),
 (45, u'Chiroubles', None, 1983, 912, 67, u'Descombes', u'Jean Ernest', u'Beaujolais'),
 (45, u'Chiroubles', None, 1983, 98, 71, u'Chalandard', u'Danile', u'Jura'),
 (45, u'Chiroubles', None, 1983, 540, 78, u'Michlel', u'Pierre Emile', u'Jura'),
 (45, u'Chiroubles', None, 1983, 450, 86, u'Dumazet', u'Marc', u'Rhone'),
 (46, u'Chiroubles', 11, 1983, 760, 64, u'Marius Bel Air', u'Morin', u'Beaujolais'),
 (47, u'Chiroubles', 11, 1978, 75, 52, u'Lapierre', u'Jean', u'Bourgogne'),
 (48, u'Cote de Brouilly', 12, 1899, 70, 93, u'Marsanne', u'Jean', u'Rhone'),
 (49, u'Morgon', 12, 1984, 150, 2, u'Boxler', u'Albert', u'Alsace'),
 (50, u'Chenas', 11.5, 1984, 100, 2, u'Boxler', u'Albert', u'Alsace'),
 (51, u'Chenas', 10, 1975, 36, 15, u'Drouhin', u'Joseph', u'Bourgogne'),
 (52, u'Brouilly', None, 1975, 500, 40, u'Genelot', u'Maurice', u'Bourgogne'),
 (53, u'Beaujolais Villages', None, 1975, 800, 40, u'Genelot', u'Maurice', u'Bourgogne'),
 (54, u'Beaujolais Villages', 10.5, 1976, 500, 1, u'Bohn', u'Rene', u'Alsace'),
 (54, u'Beaujolais Villages', 10.5, 1976, 900, 2, u'Boxler', u'Albert', u'Alsace'),
 (54, u'Beaujolais Villages', 10.5, 1976, 500, 14, u'Jayer', u'Henri', u'Bourgogne'),
 (54, u'Beaujolais Villages', 10.5, 1976, 210, None, None, None, None),
 (55, u'Beaujolais Villages', 12.1, 1978, 450, 14, u'Jayer', u'Henri', u'Bourgogne'),
 (56, u'Saint Amour', None, 1974, 790, 24, u'Guillemot', u'Pierre', u'Bourgogne'),
 (57, u'Crozes Hermitage', 12.1, 1974, 940, 40, u'Genelot', u'Maurice', u'Bourgogne'),
 (58, u'Crozes Hermitage', 12.5, 1975, 70, 45, u'Jeannin', u'Andre', u'Bourgogne'),
 (59, u'Crozes - Hermitage', 12.3, 1972, 160, 45, u'Jeannin', u'Andre', u'Bourgogne'),
 (60, u'Crozes-Hermitage', 11, 1983, 300, 50, u'Chagny', u'Georges', u'Bourgogne'),
 (60, u'Crozes-Hermitage', 11, 1983, 60, 60, u'Vernus', u'Georges', u'Beaujolais'),
 (61, u'Hermitage', 12, 1979, 120, 90, u'Roure', u'Raymond', u'Rhone'),
 (62, u'Gigondas', 11, 1978, 900, 60, u'Vernus', u'Georges', u'Beaujolais'),
 (63, u'Coteaux du Tricastin', 10, 1978, 136, None, None, None, None),
 (64, u'Coteaux du Tricastin', 11, 1974, 870, 72, u'Reverchon', u'Joseph', u'Jura'),
 (64, u'Coteaux du Tricastin', 11, 1974, 980, 85, u'Champet', u'Emile', u'Rhone'),
 (65, u'Rochgrande', 10.8, 1968, 10, 12, u'Tortochot', u'Gabriel', u'Bourgogne'),
 (65, u'Rochgrande', 10.8, 1968, 560, 25, u'Valentin Bouchotte', u'Roger', u'Bourgogne'),
 (66, u'Tavel', 11, 1968, 124, None, None, None, None),
 (67, u'Gewurztraminer', 12.5, 1968, 125, 5, u'Joudeat', u'Lucien', u'Bourgogne'),
 (67, u'Gewurztraminer', 12.5, 1968, 890, 10, u'Fournier', u'Jean Claude', u'Bourgogne'),
 (67, u'Gewurztraminer', 12.5, 1968, 760, 82, u'Mollex', u'Georges', u'Savoie'),
 (68, u'Riesling', 14, 1962, None, 12, u'Tortochot', u'Gabriel', u'Bourgogne'),
 (69, u"Tokay d'Alsace", 11, 1982, 96, 9, u'Moniot', u'Gilbert', u'Bourgogne'),
 (69, u"Tokay d'Alsace", 11, 1982, 320, 12, u'Tortochot', u'Gabriel', u'Bourgogne'),
 (69, u"Tokay d'Alsace", 11, 1982, 690, 69, u'Janin', u'Marcel', u'Beaujolais'),
 (70, u'Sylvaner', 11, 1982, 120, 38, u'de Launay', u'Paul', u'Bourgogne'),
 (71, u'Palette', 11, 1981, 132, 38, u'de Launay', u'Paul', u'Bourgogne'),
 (72, u'Cassis', 10, 1978, 34, 52, u'Lapierre', u'Jean', u'Bourgogne'),
 (73, u'Bellet', 11, 1976, 45, 38, u'de Launay', u'Paul', u'Bourgogne'),
 (74, u'Arbois', 12, 1980, 650, 70, u'Trichard', u'Benoit', u'Beaujolais'),
 (74, u'Arbois', 12, 1980, 850, 72, u'Reverchon', u'Joseph', u'Jura'),
 (74, u'Arbois', 12, 1980, 675, 84, u'Metral', u'Jean', u'Jura'),
 (75, u'Arbois', 11, 1976, 69, 38, u'de Launay', u'Paul', u'Bourgogne'),
 (76, u'Chateau Chalon', 12, 1976, 100, 46, u'Monassier', u'Armand', u'Bourgogne'),
 (76, u'Chateau Chalon', 12, 1976, 900, 85, u'Champet', u'Emile', u'Rhone'),
 (77, u'Etoile', 11, 1979, 100, 85, u'Champet', u'Emile', u'Rhone'),
 (78, u'Etoile', 12, 1980, 300, 4, u'Stentz', u'Fernand', u'Alsace'),
 (78, u'Etoile', 12, 1980, 360, 27, u'Glantenay', u'Louis', u'Bourgogne'),
 (78, u'Etoile', 12, 1980, 900, 30, u'Desbois', u'Maurice', u'Bourgogne'),
 (78, u'Etoile', 12, 1980, 980, 68, u'Savoye', u'Louis', u'Beaujolais'),
 (78, u'Etoile', 12, 1980, 970, 80, u'Devaux', u'Jean Paul', u'Jura'),
 (79, u'Seyssel', 11, 1980, 100, 74, u'Grand', u'Rene', u'Jura'),
 (79, u'Seyssel', 11, 1980, 79, 79, u'Petit', u'Gerard', u'Jura'),
 (79, u'Seyssel', 11, 1980, 800, 81, u'Peltier', u'Pierre', u'Jura'),
 (80, u'Seyssel', 11, 1980, 79, 90, u'Roure', u'Raymond', u'Rhone'),
 (81, u'Cornas', 11.1, 1980, 24, 90, u'Roure', u'Raymond', u'Rhone'),
 (82, u'Cornas', 11, 1980, 100, 43, u'Menand', u'Jean Claude', u'Bourgogne'),
 (82, u'Cornas', 11, 1980, 800, 80, u'Devaux', u'Jean Paul', u'Jura'),
 (83, u'Saint Amour', 10, 1980, 423, 95, u'Verset', u'Louis', u'Rhone'),
 (84, u'Rasteau', 10, 1980, 146, 95, u'Verset', u'Louis', u'Rhone'),
 (85, u'Tavel', 11, 1980, 46, 55, u'Michon', None, u'Beaujolais'),
 (86, u'Tavel', 11, 1980, 500, 93, u'Marsanne', u'Jean', u'Rhone'),
 (87, u'Cotes de Provence', None, 1980, 630, 38, u'de Launay', u'Paul', u'Bourgogne'),
 (87, u'Cotes de Provence', None, 1980, 680, 45, u'Jeannin', u'Andre', u'Bourgogne'),
 (87, u'Cotes de Provence', None, 1980, 900, 72, u'Reverchon', u'Joseph', u'Jura'),
 (88, u'Cotes de Provence', 10, 1976, 129, 55, u'Michon', None, u'Beaujolais'),
 (89, u'Cotes de Provence', 11, 1969, 150, 15, u'Drouhin', u'Joseph', u'Bourgogne'),
 (89, u'Cotes de Provence', 11, 1969, 980, 42, u'Juillot', u'Maurice', u'Bourgogne'),
 (89, u'Cotes de Provence', 11, 1969, 723, 55, u'Michon', None, u'Beaujolais'),
 (89, u'Cotes de Provence', 11, 1969, 980, None, None, None, None),
 (89, u'Cotes de Provence', 11, 1969, 100, 89, u'Michelas', u'Robert', u'Rhone'),
 (90, u'Palette', 11, 1969, 900, 56, u'Coutelle', u'Jean', u'Beaujolais'),
 (90, u'Palette', 11, 1969, 40, 95, u'Verset', u'Louis', u'Rhone'),
 (91, u'Cassis', 11, 1979, 24, 79, u'Petit', u'Gerard', u'Jura'),
 (92, u'Coteaux de Pierevert', None, 1967, 900, 11, u'Clerget', u'Anne', u'Bourgogne'),
 (93, u'Blanquette de Limoux', None, 1978, 110, 79, u'Petit', u'Gerard', u'Jura'),
 (94, u'Cotes du Rousillon', None, 1978, 500, 11, u'Clerget', u'Anne', u'Bourgogne'),
 (94, u'Cotes du Rousillon', None, 1978, 180, 27, u'Glantenay', u'Louis', u'Bourgogne'),
 (95, u'Cotes du Rousillon', 12, 1978, 900, 95, u'Verset', u'Louis', u'Rhone'),
 (96, u'Saint Chinian', 11, 1976, 370, 59, u'La Thuilliere', u'Jean', u'Beaujolais'),
 (97, u'Saint Chinian', 11, 1976, 101, 70, u'Trichard', u'Benoit', u'Beaujolais'),
 (98, u'Corbieres', 10, 1978, 986, 24, u'Guillemot', u'Pierre', u'Bourgogne'),
 (98, u'Corbieres', 10, 1978, 400, 35, u'Roulot', u'Guy', u'Bourgogne'),
 (98, u'Corbieres', 10, 1978, 150, 75, u'Loye', u'Camille', u'Jura'),
 (98, u'Corbieres', 10, 1978, 890, 76, u'Maire', u'Henri', u'Jura'),
 (98, u'Corbieres', 10, 1978, 340, 88, u'Begot', u'Albert', u'Rhone'),
 (99, u'Cote Rotie', 13, 1994, 100, 5, u'Joudeat', u'Lucien', u'Bourgogne'),
 (99, u'Cote Rotie', 13, 1994, 199, 99, u'Cooperative', None, u'Rhone'),
 (100, u'Seyssel', 11, 1974, 100, 25, u'Valentin Bouchotte', u'Roger', u'Bourgogne'),
 (101, u'Saint Veran', 12.5, 1973, 213, 70, u'Trichard', u'Benoit', u'Beaujolais'),
 (107, u'Sancerre', 14, 1998, 7000, 107, u'Meunier', u'Laurent', u'Rhone')]

* Notice that Jupyter *displays* 'None' instead of 'NULL'. 
  - This is only to comply with python notation.
* To account for NULL values, your SQL queries must test explicitly for 'NULL'.

Another problem in **Master1** and **Master2** is data redundancy, for example:

In [7]:
%%sql SELECT *
FROM Master1
WHERE NV = 45;

 * sqlite:///wine.db
Done.

[(45, u'Chiroubles', None, 1983, 90, 2, u'Boxler', u'Albert', u'Alsace'),
 (45, u'Chiroubles', None, 1983, 912, 67, u'Descombes', u'Jean Ernest', u'Beaujolais'),
 (45, u'Chiroubles', None, 1983, 98, 71, u'Chalandard', u'Danile', u'Jura'),
 (45, u'Chiroubles', None, 1983, 540, 78, u'Michlel', u'Pierre Emile', u'Jura'),
 (45, u'Chiroubles', None, 1983, 450, 86, u'Dumazet', u'Marc', u'Rhone')]

---

Additional resource for Normalization:

https://www.youtube.com/watch?v=UrYLYV7WSHM

---

#### Exercise 1.1

Convert table **Master1** to the Second Normal Form (2NF) or Third Normal Form (3NF) as applicable.
* Explain your answer
* List main functional dependencies (not all of them)
* Describe the schema of new tables and how they relate
  * You can write Tables as above or you can insert images in the notebook.
  
Remember that **`wine.db`** contains information related to wine 'production' and 'sells'.

> Production <---> Wine <---> Sales

A good start point is to look for the 'Wine' attributes.

**Hint:** Look for redundant information between the master tables.

In [9]:
%%sql 
select DEGRE, CRU, MIN(NV) as min1, MAX(NV) as max1 from master1 group by DEGRE, CRU HAVING min1 <> max1

 * sqlite:///wine.db
Done.

[(None, u'Savigny les Beaunes', 22, 39),
 (11, u'Chiroubles', 46, 47),
 (11, u'Palette', 71, 90),
 (11, u'Saint Chinian', 96, 97),
 (11, u'Seyssel', 79, 100),
 (11, u'Tavel', 66, 86)]

From table Master1, find maximum fonctionnal dependecies.
Exploration and check on datas with sql queries (group by, min, max, and count distinct)

If results, the fonctional dependency is incorrect

For table MASTER1, found the fonctional dependies below :
NV -> DEGRE
NV -> CRU
NV -> MILL

NP-> NOM
NP-> PRENOM
NP-> REGION

NV,NP -> QTE

Therefore, one can concieve the following 3 tables in replacement of Master 1 : 

- **Wine**

|*Attribute*|         *Description*          |
| -------   |--------------------------------|
| NV        | Wine number                    | 
| CRU       | Vineyard or group of vineyards |
| DEGRE     | Alcohol content                |
| MILL      | Vintage year                   |


PK : NV
NV is the UID of each wine

- **Producer**

|*Attribute*|         *Description*          |
| -------   |--------------------------------|
| NP        | Producer number                |
| NOM       | Producer's last name           |
| PRENOM    | Producer's first name          |
| REGION    | Production region              |


PK : NP
NP is the UID of each producer

- **Produces**

|*Attribute*|         *Description*          |
| -------   |--------------------------------|
| NV        | Wine number                    |
| QTE       | Number of bottles harvested    |
| NP        | Producer number                |

PK : (NV,NP)
NV is a foreign key from table Wine
NP is a foreign Key from table Producer

This table represent the link betwen Producer and their product, ie the production of eah producer... 
In other terms : Producer Produces Wine

Cardinalities : 
- Producer Produces : 1 to many
- Produces Wine : many to 1

Normal Form : 
- 2NF : None of the attributs are dependant of a part of the key
- 3NF : no fonctional dependency betwen non key attributs

#### Exercise 1.2

Convert table **Master2** to the Second Normal Form (2NF) or Third Normal Form (3NF) as applicable.
* Explain your answer
* List main functional dependencies (not all of them)
* Describe the schema of new tables and how they relate
  * You can write Tables as above or you can insert images in the notebook.

**Note:** For this part, consider that a wine can be bought in multiple locations and multiple times per day.

In [ ]:
%%sql 
SELECT NP, NV, MIN(QTE) as min1, MAX(Lieu) as max2 
FROM Master1 
group by NP, NV 
having min1 <> max2

In [94]:
%%sql 
SELECT count(*) 
from master2

 * sqlite:///wine.db
Done.

[(185,)]

In [95]:
%%sql 
SELECT NB, NV, LIEU, count(*) 
FROM Master2 
group by NB, NV, LIEU 
having count(*) > 1

 * sqlite:///wine.db
Done.

[]

Same method as previous, the folloowing dependencies were found : 
NV -> CRU
NV -> DEGRE
NV -> MILL

LIEU-> REGION

NB -> NOM
NB -> PRENOM
NB -> TYPE

DATES,LIEU,NV,NB -> QTE
Functionaly, the df (nv, lieu, nb, date)-> could be questionned except if date endebbed the time (timestamp)

(NOM, PRENOM)-> TYPE (works on the data but would fail if homonymes)

The following tables can be concieved : 

- Wine -> same as for master1


|*Attribute*|                         *Description*                  |
| -------   |--------------------------------------------------------|
| NV        | Wine number                                            |
| CRU       | Vineyard or group of vineyards                         |
| DEGRE     | Alcohol content                                        |
| MILL      | Vintage year                                           |

PK : NV

- Customer


|*Attribute*|                         *Description*                  |
| -------   |--------------------------------------------------------|
| NB        | Client (buveur) number                                 |
| NOM       | Client's last name                                     |
| PRENOM    | Client's first name                                    |
| TYPE      | Type of client by volume of purchases                  |

PK : NB

- Place


|*Attribute*|                         *Description*                  |
| -------   |--------------------------------------------------------|
| LIEU      | Place where the wine was sold                          |
| REGION    | Administrative Region (different to production region) |

PK : LIEU

- Buys


|*Attribute*|                         *Description*                  |
| -------   |--------------------------------------------------------|
| NV        | Wine number                                            |
| DATES     | Buying date                                            |
| LIEU      | Place where the wine was sold                          |
| QTE       | Number of bottles bought                               |
| NB        | Client (buveur) number                                 |

PK : (NV,LIEU,NB, DATES) 
NV is a foreign key from table Wine
NB is a foreign Key from table Customer
LIEU is a foreign Key from table Place

This table represent the link betwen Customer, Wine and Place, ie the orders of eah customer. 
In other terms : Customer Buys Wine in Place at a certain date
Functionaly, the unicity of primary key (nv, lieu, nb, date) could be questionned

Cardinalities : 
- Customer Buys : 1 to many
- Buys Wine : many to one

Normal Form : 
- 2NF : None of the attributs are dependant of a part of the key
- 3NF : no fonctional dependency betwen non key attributs

Once you have defined the 2NF or 3NF (as applicable) we need to split the data into new tables.

A table can be created from the result of a query.

In the following example we will create a new table "dummy" to store the different values of alcohol content.

In [7]:
%%sql DROP TABLE IF EXISTS dummy;

-- Create dummy table
CREATE TABLE dummy AS
SELECT DISTINCT DEGRE
FROM MASTER1;

Done.
Done.

[]

In [8]:
print("\nContent of the database")
printSchema(conn)

Content of the database
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(NUM)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
dummy:
  0: DEGRE(NUM)

In [9]:
%%sql
SELECT *
FROM dummy;

Done.

[(None,),
 (11.5,),
 (11.3,),
 (12.1,),
 (10.9,),
 (11.7,),
 (11.2,),
 (12.3,),
 (11.9,),
 (11.8,),
 (10.7,),
 (11.4,),
 (10.5,),
 (11,),
 (11.6,),
 (12,),
 (10,),
 (12.5,),
 (10.8,),
 (14,),
 (11.1,),
 (13,)]

Looking into "dummy", we notice that our query includes NULL. This is not allowed if we were to use DEGRE as key for a table.

To correct this, we need to change the query to explicitly test for NULL as follows:

In [10]:
%%sql DROP TABLE IF EXISTS dummy;

-- Create dummy table
CREATE TABLE dummy AS
SELECT DISTINCT DEGRE
FROM MASTER1
WHERE DEGRE IS NOT NULL;

SELECT *
FROM dummy;

Done.
Done.
Done.

[(11.5,),
 (11.3,),
 (12.1,),
 (10.9,),
 (11.7,),
 (11.2,),
 (12.3,),
 (11.9,),
 (11.8,),
 (10.7,),
 (11.4,),
 (10.5,),
 (11,),
 (11.6,),
 (12,),
 (10,),
 (12.5,),
 (10.8,),
 (14,),
 (11.1,),
 (13,)]

Notice that we use `NULL` given that `None` is only used for display.

In [11]:
# Remove "dummy" table
%sql DROP TABLE IF EXISTS dummy;

Done.

[]

#### Exercise 1.3

Create the new tables from Master1:

In [35]:
%%sql 
DROP TABLE IF EXISTS WINE;
CREATE TABLE WINE(
    NV INT PRIMARY KEY, 
    CRU VARCHAR NOT NULL, 
    DEGRE INT, M
    ILL NUM NOT NULL);
insert into WINE 
    SELECT DISTINCT NV, CRU, DEGRE, MILL 
    FROM Master1 
    where nv is not null

 * sqlite:///wine.db
Done.
Done.
102 rows affected.

[]

In [43]:
%%
sql select distinct NP NOM, PRENOM, REGION 
from master1 
where np is not null

 * sqlite:///wine.db
Done.

[]

In [47]:
%%sql 
DROP TABLE IF EXISTS PRODUCER;
CREATE TABLE PRODUCER(
    NP INT PRIMARY KEY, 
    NOM VARCHAR NOT NULL, 
    PRENOM VARCHAR, 
    REGION VARCHAR NOT NULL);
insert into PRODUCER 
    select distinct NP, NOM, PRENOM, REGION 
    from master1 
    where np is not null

 * sqlite:///wine.db
Done.
Done.
124 rows affected.

[]

In [48]:
%sql select * from PRODUCER

 * sqlite:///wine.db
Done.

[(3, u'Six', u'Paul', u'Alsace'),
 (6, u'Marmagne', u'Bernard', u'Bourgogne'),
 (8, u"Lioger d'Harduy", u'Gabriel', u'Bourgogne'),
 (16, u'Barbin', u'Bernard', u'Bourgogne'),
 (17, u'Faiveley', u'Guy', u'Bourgogne'),
 (18, u'Tramier', u'Jean', u'Bourgogne'),
 (19, u'Dupaquier', u'Roger', u'Bourgogne'),
 (20, u'Lamy', u'Jean', u'Bourgogne'),
 (21, u'Cornu', u'Edmond', u'Bourgogne'),
 (26, u'Violot', u'Gilbert', u'Bourgogne'),
 (28, u'Monnier', u'Rene', u'Bourgogne'),
 (29, u'de Suremain', u'Robert', u'Bourgogne'),
 (31, u'Prudhon', u'Henri', u'Bourgogne'),
 (32, u'Mestre', u'Philippe', u'Bourgogne'),
 (33, u'Prieur', u'Guy', u'Bourgogne'),
 (34, u'Monnier', u'Rene', u'Bourgogne'),
 (37, u'Delagrange Bachelet', None, u'Bourgogne'),
 (39, u'de Suremin', u'Hugues', u'Bourgogne'),
 (41, u'Juillot', u'Michel', u'Bourgogne'),
 (44, u'Feyveley', None, u'Bourgogne'),
 (47, u'Thenard', None, u'Bourgogne'),
 (48, u'Flamand', None, u'Bourgogne'),
 (49, u'Guillot', u'Pierre', u'Bourgogne'),
 (51, u'Simonet', u'Leon', u'Bourgogne'),
 (53, u'Cooperative', None, u'Bourgogne'),
 (57, u'Desmules', u'Pierre', u'Beaujolais'),
 (58, u'Joubert', u'Claude', u'Beaujolais'),
 (61, u'Champier', u'Charles', u'Beaujolais'),
 (62, u'Champagnon', u'Louis', u'Beaujolais'),
 (66, u'Cooperative', None, u'Beaujolais'),
 (77, u'Tissot', u'Andre', u'Jura'),
 (83, u'Goy', None, u'Jura'),
 (91, u'Chave', u'Gerard', u'Rhone'),
 (92, u'De Boissieu', None, u'Rhone'),
 (94, u'Grippat', u'Jean Louis', u'Rhone'),
 (96, u'Boisson', u'Jean Pierre', u'Rhone'),
 (97, u'Quiot', u'Pierre', u'Rhone'),
 (100, u'Bernard', u'Georges', u'Rhone'),
 (101, u'Verdan', u'Antoine', u'Rhone'),
 (102, u'Cooperative', None, u'Rhone'),
 (103, u'Coulouvrat', u'Michel', u'Rhone'),
 (104, u'Rabasse Chavarin', u'Abel', u'Rhone'),
 (105, u'Roux', u'Charles', u'Rhone'),
 (106, u'Alary', None, u'Rhone'),
 (108, u'Archimbaud', u'Jean', u'Rhone'),
 (109, u'Rey', u'Marcel', u'Rhone'),
 (110, u'Cooperative', None, u'Rhone'),
 (111, u'Zafiropulo', u'Costa', u'Provence'),
 (112, u'Prebost', u'Gaston', u'Provence'),
 (113, u'Gomez', u'Rene', u'Provence'),
 (114, u'Brunet', u'Georges', u'Provence'),
 (115, u'Bordonado', u'Raymond', u'Provence'),
 (116, u'Imbert', u'Christian', u'Corse'),
 (117, u'Cooperative', None, u'Languedoc'),
 (118, u'Cooperative', None, u'Languedoc'),
 (119, u'Cooperative', None, u'Pyrenees'),
 (121, u'Cooperative', None, u'Pyrenees'),
 (122, u'Dupuy', u'Charles', u'Pyrenees'),
 (123, u'Laurent', u'Pierre', u'Pyrenees'),
 (124, u'Daurat Fort', u'Robert', u'Pyrenees'),
 (125, u'Baldes', u'Jean', u'Sud'),
 (126, u'Jouffreau', u'Jean', u'Sud'),
 (127, u'Brumont', u'Alban', u'Sud'),
 (129, u'Barrere', u'Alfred', u'Sud'),
 (1, u'Bohn', u'Rene', u'Alsace'),
 (73, u'Bourguignon', u'Emile', u'Jura'),
 (5, u'Joudeat', u'Lucien', u'Bourgogne'),
 (10, u'Fournier', u'Jean Claude', u'Bourgogne'),
 (30, u'Desbois', u'Maurice', u'Bourgogne'),
 (42, u'Juillot', u'Maurice', u'Bourgogne'),
 (98, u'Berard', None, u'Rhone'),
 (90, u'Roure', u'Raymond', u'Rhone'),
 (7, u'Lasnier', u'Pierre', u'Bourgogne'),
 (43, u'Menand', u'Jean Claude', u'Bourgogne'),
 (89, u'Michelas', u'Robert', u'Rhone'),
 (13, u'Grivot', u'Jean', u'Bourgogne'),
 (86, u'Dumazet', u'Marc', u'Rhone'),
 (80, u'Devaux', u'Jean Paul', u'Jura'),
 (38, u'de Launay', u'Paul', u'Bourgogne'),
 (95, u'Verset', u'Louis', u'Rhone'),
 (40, u'Genelot', u'Maurice', u'Bourgogne'),
 (50, u'Chagny', u'Georges', u'Bourgogne'),
 (36, u'Sauzet', u'Etienne', u'Bourgogne'),
 (99, u'Cooperative', None, u'Rhone'),
 (22, u'Dubreuil Fontaine', u'Pierre', u'Bourgogne'),
 (9, u'Moniot', u'Gilbert', u'Bourgogne'),
 (72, u'Reverchon', u'Joseph', u'Jura'),
 (60, u'Vernus', u'Georges', u'Beaujolais'),
 (4, u'Stentz', u'Fernand', u'Alsace'),
 (23, u'Laleure', None, u'Bourgogne'),
 (93, u'Marsanne', u'Jean', u'Rhone'),
 (54, u'Cooperative', None, u'Bourgogne'),
 (52, u'Lapierre', u'Jean', u'Bourgogne'),
 (76, u'Maire', u'Henri', u'Jura'),
 (82, u'Mollex', u'Georges', u'Savoie'),
 (85, u'Champet', u'Emile', u'Rhone'),
 (2, u'Boxler', u'Albert', u'Alsace'),
 (67, u'Descombes', u'Jean Ernest', u'Beaujolais'),
 (71, u'Chalandard', u'Danile', u'Jura'),
 (78, u'Michlel', u'Pierre Emile', u'Jura'),
 (64, u'Marius Bel Air', u'Morin', u'Beaujolais'),
 (15, u'Drouhin', u'Joseph', u'Bourgogne'),
 (14, u'Jayer', u'Henri', u'Bourgogne'),
 (24, u'Guillemot', u'Pierre', u'Bourgogne'),
 (45, u'Jeannin', u'Andre', u'Bourgogne'),
 (12, u'Tortochot', u'Gabriel', u'Bourgogne'),
 (25, u'Valentin Bouchotte', u'Roger', u'Bourgogne'),
 (69, u'Janin', u'Marcel', u'Beaujolais'),
 (70, u'Trichard', u'Benoit', u'Beaujolais'),
 (84, u'Metral', u'Jean', u'Jura'),
 (46, u'Monassier', u'Armand', u'Bourgogne'),
 (27, u'Glantenay', u'Louis', u'Bourgogne'),
 (68, u'Savoye', u'Louis', u'Beaujolais'),
 (74, u'Grand', u'Rene', u'Jura'),
 (79, u'Petit', u'Gerard', u'Jura'),
 (81, u'Peltier', u'Pierre', u'Jura'),
 (55, u'Michon', None, u'Beaujolais'),
 (56, u'Coutelle', u'Jean', u'Beaujolais'),
 (11, u'Clerget', u'Anne', u'Bourgogne'),
 (59, u'La Thuilliere', u'Jean', u'Beaujolais'),
 (35, u'Roulot', u'Guy', u'Bourgogne'),
 (75, u'Loye', u'Camille', u'Jura'),
 (88, u'Begot', u'Albert', u'Rhone'),
 (107, u'Meunier', u'Laurent', u'Rhone')]

In [55]:
%%sql 
select * 
FROM Master1 
WHERE  (NP is not null and  NV is not null) AND (QTE is null or QTE = 0)

 * sqlite:///wine.db
Done.

[(34, u'Montagny', 11.2, 1978, None, 4, u'Stentz', u'Fernand', u'Alsace'),
 (68, u'Riesling', 14, 1962, None, 12, u'Tortochot', u'Gabriel', u'Bourgogne')]

In [100]:
%%sql 
DROP TABLE IF EXISTS PRODUCES;
CREATE TABLE PRODUCES(NV INT NOT NULL, NP INT NOT NULL, QTE INT, 
                      PRIMARY KEY(NV,NP),
                      FOREIGN KEY (NV) REFERENCES WINE (NV),
                      FOREIGN KEY (NP) REFERENCES WINE (NP));
insert into PRODUCES 
    SELECT DISTINCT NV, NP, QTE 
    FROM MASTER1 
    WHERE  NV IS NOT NULL AND NP IS NOT NULL

 * sqlite:///wine.db
Done.
Done.
140 rows affected.

[]

#### Exercise 1.4

Create the new tables from Master2:

In [97]:
%%sql 
DROP TABLE IF EXISTS CUSTOMER;
CREATE TABLE CUSTOMER(
    NB INT PRIMARY KEY, 
    NOM VARCHAR NOT NULL, 
    PRENOM VARCHAR, 
    TYPE VARCHAR NOT NULL);
insert into CUSTOMER 
    select distinct NB, NOM, PRENOM, TYPE 
    from master2 
    where nb is not null

 * sqlite:///wine.db
Done.
Done.
100 rows affected.

[]

In [114]:
%%sql DROP TABLE IF EXISTS BUYS;
CREATE TABLE BUYS(
    NV INT NOT NULL, 
    NB INT NOT NULL, 
    LIEU VARCHAR NOT NULL, 
    DATES DATE NOT NULL, 
    QTE INT NOT NULL, 
    PRIMARY KEY(NV,NB,LIEU,DATES),
    FOREIGN KEY (NV) REFERENCES WINE (NV),
    FOREIGN KEY (NB) REFERENCES CUSTOMER (NB));
insert into BUYS 
    select distinct nv, nb, lieu, dates, qte 
    from master2 
    where nv is not null and nb is not null

 * sqlite:///wine.db
Done.
Done.
73 rows affected.

[]

In [115]:
%%sql 
DROP TABLE IF EXISTS PLACE;
CREATE TABLE PLACE(
    LIEU VARCHAR NOT NULL, 
    REGION VARCHAR NOT NULL,  
    PRIMARY KEY(LIEU),
    FOREIGN KEY (LIEU) REFERENCES BUYS (LIEU));
INSERT INTO PLACE 
    select distinct lieu, region 
    from master2 
    where lieu is not null;

 * sqlite:///wine.db
Done.
Done.
18 rows affected.

[]

# PART II: SQL QUERIES

In the second part of this TP you will create SQL queries to retrieve information from the database.

**Important:**

- You MUST use the normalized tables created in previous steps.
  - The normalized tables will also be used in TP3.
- Do NOT use **Master1** and **Master2** in your queries.

In [119]:
print("\nContent of the database")
printSchema(conn)

Content of the database
BUYS:
  0: NV(INT) not null *1
  1: NB(INT) not null *2
  2: LIEU(VARCHAR) not null *3
  3: DATES(DATE) not null *4
  4: QTE(INT) not null
CUSTOMER:
  0: NB(INT) *1
  1: NOM(VARCHAR) not null
  2: PRENOM(VARCHAR)
  3: TYPE(VARCHAR) not null
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(DATE)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
PLACE:
  0: LIEU(VARCHAR) not null *1
  1: REGION(VARCHAR) not null
PRODUCER:
  0: NP(INT) *1
  1: NOM(VARCHAR) not null
  2: PRENOM(VARCHAR)
  3: REGION(VARCHAR) not null
PRODUCES:
  0: NV(INT) not null *1
  1: NP(INT) not null *2
  2: QTE(INT)
WINE:
  0: NV(INT) *1
  1: CRU(VARCHAR) not null
  2: DEGRE(INT)
  3: MILL(NUM) not null

#### Exercise 2.1

What are the different types of clients (buveurs) by volume of purchases?

In [122]:
%%sql 
SELECT TYPE, sum(QTE) as 'Volume des ventes' 
FROM CUSTOMER C JOIN BUYS B ON C.NB = B.NB 
GROUP BY TYPE ORDER BY TYPE;

 * sqlite:///wine.db
Done.

[(u'gros', 361), (u'moyen', 697), (u'petit', 772)]

#### Exercise 2.2

What regions produce Pommard or Brouilly?

In [130]:
%%sql 
SELECT DISTINCT CRU, REGION 
FROM PRODUCER PR JOIN PRODUCES P ON PR.NP= P.NP JOIN WINE W ON W.NV=P.NV
WHERE CRU In ('Pommard','Brouilly')

 * sqlite:///wine.db
Done.

[(u'Pommard', u'Bourgogne'),
 (u'Pommard', u'Rhone'),
 (u'Brouilly', u'Bourgogne')]

#### Exercise 2.3

What regions produce Pommard and Brouilly?

In [140]:
%%sql 
SELECT DISTINCT REGION 
FROM PRODUCER PR JOIN PRODUCES P ON PR.NP= P.NP  
WHERE NV IN (
    SELECT NV 
    FROM WINE
    WHERE CRU = 'Pommard')
AND REGION IN (SELECT DISTINCT REGION 
FROM PRODUCER PR JOIN PRODUCES P ON PR.NP= P.NP  
WHERE NV IN (
    SELECT NV 
    FROM WINE
    WHERE CRU = 'Brouilly'))

 * sqlite:///wine.db
Done.

[(u'Bourgogne',)]

#### Exercise 2.4

Get the number of wines bught by CRU and Millsime

In [141]:
%%sql 
SELECT CRU, MILL, SUM(QTE) as Number_of_wines_bought
FROM WINE W JOIN BUYS B ON B.NV=W.NV
GROUP BY CRU, MILL
ORDER BY CRU, MILL

 * sqlite:///wine.db
Done.

[(u'Arbois', 1980, 8),
 (u'Auxey Duresses', 1914, 80),
 (u'Beaujolais Primeur', 1983, 7),
 (u'Beaujolais Villages', 1975, 10),
 (u'Beaujolais Villages', 1976, 120),
 (u'Beaujolais Villages', 1978, 130),
 (u'Beaujolais Villages', 1979, 520),
 (u'Chapelle Chambertin', 1973, 30),
 (u'Chateau Corton Grancey', 1980, 4),
 (u'Chenas', 1984, 1),
 (u'Clairette de Die', 1976, 5),
 (u'Cornas', 1980, 25),
 (u'Cote de Brouilly', 1980, 23),
 (u'Coteaux du Tricastin', 1974, 1),
 (u'Coteaux du Tricastin', 1978, 12),
 (u'Cotes de Beaune Villages', 1971, 14),
 (u'Cotes de Beaune Villages', 1975, 96),
 (u'Cotes de Nuits', 1978, 21),
 (u'Cotes de Provence', 1980, 18),
 (u'Etoile', 1980, 9),
 (u'Fleurie', 1980, 7),
 (u'Gentil', 1975, 36),
 (u'Gigondas', 1978, 5),
 (u'Grands Echezeaux', 1968, 31),
 (u'Julienas', 1974, 2),
 (u'Mercurey', 1980, 57),
 (u'Mercurey', 1981, 36),
 (u'Meursault', 1980, 2),
 (u'Monthelie', 1968, 106),
 (u'Pommard', 1972, 23),
 (u'Pommard', 1976, 55),
 (u'Pouilly Vinzelles', 1968, 10),
 (u'Rasteau', 1980, 15),
 (u'Richebourg', 1943, 72),
 (u'Saint Amour', 1974, 80),
 (u'Saint Amour', 1980, 14),
 (u'Savigny les Beaunes', 1974, 44),
 (u'Savigny les Beaunes', 1977, 7),
 (u'Savigny les Beaunes', 1978, 11),
 (u'Seyssel', 1974, 24),
 (u'Seyssel', 1980, 21),
 (u'Tavel', 1980, 33),
 (u'Volnay', 1980, 5)]

#### Exercise 2.5

Retrieve the wine number (NV) of wines produced by more than three producers

In [143]:
%%sql
SELECT PR.NV, COUNT(DISTINCT NP) AS Number_of_producers
FROM PRODUCES PR JOIN WINE W ON W.NV=PR.NV
GROUP BY PR.NV
HAVING Number_of_producers>3

 * sqlite:///wine.db
Done.

[(45, 5), (78, 5), (89, 4), (98, 5)]

#### Exercise 2.6

Which producers have not produced any wine?

In [144]:
%%sql
SELECT NP, NOM, PRENOM 
FROM PRODUCER
WHERE NP IS NULL OR NP NOT IN (
    SELECT NP FROM PRODUCES)

 * sqlite:///wine.db
Done.

[(3, u'Six', u'Paul'),
 (6, u'Marmagne', u'Bernard'),
 (8, u"Lioger d'Harduy", u'Gabriel'),
 (16, u'Barbin', u'Bernard'),
 (17, u'Faiveley', u'Guy'),
 (18, u'Tramier', u'Jean'),
 (19, u'Dupaquier', u'Roger'),
 (20, u'Lamy', u'Jean'),
 (21, u'Cornu', u'Edmond'),
 (26, u'Violot', u'Gilbert'),
 (28, u'Monnier', u'Rene'),
 (29, u'de Suremain', u'Robert'),
 (31, u'Prudhon', u'Henri'),
 (32, u'Mestre', u'Philippe'),
 (33, u'Prieur', u'Guy'),
 (34, u'Monnier', u'Rene'),
 (37, u'Delagrange Bachelet', None),
 (39, u'de Suremin', u'Hugues'),
 (41, u'Juillot', u'Michel'),
 (44, u'Feyveley', None),
 (47, u'Thenard', None),
 (48, u'Flamand', None),
 (49, u'Guillot', u'Pierre'),
 (51, u'Simonet', u'Leon'),
 (53, u'Cooperative', None),
 (57, u'Desmules', u'Pierre'),
 (58, u'Joubert', u'Claude'),
 (61, u'Champier', u'Charles'),
 (62, u'Champagnon', u'Louis'),
 (66, u'Cooperative', None),
 (77, u'Tissot', u'Andre'),
 (83, u'Goy', None),
 (91, u'Chave', u'Gerard'),
 (92, u'De Boissieu', None),
 (94, u'Grippat', u'Jean Louis'),
 (96, u'Boisson', u'Jean Pierre'),
 (97, u'Quiot', u'Pierre'),
 (100, u'Bernard', u'Georges'),
 (101, u'Verdan', u'Antoine'),
 (102, u'Cooperative', None),
 (103, u'Coulouvrat', u'Michel'),
 (104, u'Rabasse Chavarin', u'Abel'),
 (105, u'Roux', u'Charles'),
 (106, u'Alary', None),
 (108, u'Archimbaud', u'Jean'),
 (109, u'Rey', u'Marcel'),
 (110, u'Cooperative', None),
 (111, u'Zafiropulo', u'Costa'),
 (112, u'Prebost', u'Gaston'),
 (113, u'Gomez', u'Rene'),
 (114, u'Brunet', u'Georges'),
 (115, u'Bordonado', u'Raymond'),
 (116, u'Imbert', u'Christian'),
 (117, u'Cooperative', None),
 (118, u'Cooperative', None),
 (119, u'Cooperative', None),
 (121, u'Cooperative', None),
 (122, u'Dupuy', u'Charles'),
 (123, u'Laurent', u'Pierre'),
 (124, u'Daurat Fort', u'Robert'),
 (125, u'Baldes', u'Jean'),
 (126, u'Jouffreau', u'Jean'),
 (127, u'Brumont', u'Alban'),
 (129, u'Barrere', u'Alfred')]

#### Exercise 2.7

What clients (buveurs) have bought at least one wine from 1980?

In [145]:
%%sql SELECT NB, NOM, PRENOM
FROM CUSTOMER
WHERE NB IN (
    SELECT NB 
    FROM BUYS B JOIN WINE W ON W.NV=B.NV
    WHERE MILL = 1980
)

 * sqlite:///wine.db
Done.

[(2, u'Artaud', u'Antonin'),
 (8, u'Aragon', u'Louis'),
 (44, u'Gide', u'Andre'),
 (45, u'Giono', u'Jean'),
 (50, u'Lautreamont', None),
 (61, u'Mallarme', u'Stephane')]

#### Exercise 2.8

What clients (buveurs) have NOT bought any wine from 1980?

In [25]:
%%sql 
SELECT NB, NOM, PRENOM
FROM CUSTOMER
EXCEPT
SELECT NB, NOM, PRENOM
FROM CUSTOMER
WHERE  NB  IN (
    SELECT NB 
    FROM BUYS B JOIN WINE W ON W.NV=B.NV
    WHERE MILL = 1980
)

Done.

[(1, 'Aristote', None),
 (3, 'Aron', 'Raymond'),
 (4, 'Apollinaire', 'Guillaume'),
 (5, 'Audiberti', 'Jacques'),
 (6, 'Arrabal', 'Fernando'),
 (7, 'Anouilh', 'Jean'),
 (9, 'Ajar', 'Emile'),
 (10, 'Andersen', 'Yann'),
 (11, 'Breton', 'Andre'),
 (12, 'Bataille', 'Georges'),
 (13, 'Barthes', 'Roland'),
 (14, 'Bory', 'Jean Louis'),
 (15, 'Baudelaire', 'Charles'),
 (16, 'Balzac', 'Honore de'),
 (17, 'Camus', 'Albert'),
 (18, 'Celine', 'Louis Ferdinand'),
 (19, 'Ciceron', None),
 (20, 'Chateaubriand', 'Francois-Rene de'),
 (21, 'Corbiere', 'Tristan'),
 (22, 'Cocteau', 'Jean'),
 (23, 'Corneille', 'Pierre'),
 (24, 'Courrier', 'Paul Louis'),
 (25, 'Char', 'Rene'),
 (26, 'Diderot', 'Denis'),
 (27, 'Dumas', 'Alexandre'),
 (28, 'Dostoievsky', 'Fiodor'),
 (29, 'Fournier', 'Alain'),
 (30, 'La Fontaine', 'Jean de'),
 (31, 'Dante', None),
 (32, 'Eluard', 'Paul'),
 (33, 'Flaubert', 'Gustave'),
 (34, 'Mauriac', 'Francois'),
 (35, 'Fromentin', 'Eugene'),
 (36, 'Maurois', 'Andre'),
 (37, 'Freud', 'Sigmund'),
 (38, 'Montaigne', 'Michel de'),
 (39, 'Montesquieu', None),
 (40, 'Moliere', None),
 (41, 'Gauthier', 'Theophile'),
 (42, 'Goethe', 'Johann Wolfgang von'),
 (43, 'Musset', 'Alfred de'),
 (46, 'Hugo', 'Victor'),
 (47, 'Gary', 'Romain'),
 (48, 'Hardy', 'Thomas'),
 (49, 'Kafka', 'Franz'),
 (51, 'Lafargue', 'Paul'),
 (52, 'Carroll', 'Lewis'),
 (53, 'Lamartine', 'Alphonse de'),
 (54, 'Aurele', 'Marc'),
 (55, 'Michelet', 'Jules'),
 (56, 'Nerval', 'Gerard de'),
 (57, 'Marx', 'Karl'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de'),
 (59, 'Nietzsche', 'Friedrich'),
 (60, 'Ovide', None),
 (62, 'Proust', 'Marcel'),
 (63, 'Maupassant', 'Guy de'),
 (64, 'Platon', None),
 (65, 'Pascal', 'Blaise'),
 (66, 'Perec', 'Georges'),
 (67, 'Nin', 'Anais'),
 (68, 'Prevert', 'Jacques'),
 (69, 'Queneau', 'Raymond'),
 (70, 'Paulhan', 'Jean'),
 (71, 'Radiguet', 'Raymond'),
 (72, 'Rabelais', 'Francois'),
 (73, 'Poe', 'Allan Edgard'),
 (74, 'Rimbaud', 'Arthur'),
 (75, 'Ronsard', 'Pierre'),
 (76, 'Racine', 'Jean'),
 (77, 'Rousseau', 'Jean-Jacques'),
 (78, 'Sandier', 'Jules'),
 (79, 'Sade', 'Donatien Alphonse Frans de'),
 (80, 'Sand', 'Georges'),
 (81, 'Sartre', 'Jean-Paul'),
 (82, 'Roussel', 'Rene'),
 (83, 'Sophocle', None),
 (84, 'Sue', 'Eugene'),
 (85, 'Segalen', 'Victor'),
 (86, 'Saint Exupery', 'Antoine de'),
 (87, 'Segur', 'Comtesse de'),
 (88, 'Shakespeare', 'William'),
 (89, 'Stendhal', None),
 (90, 'Vian', 'Boris'),
 (91, 'Verlaine', 'Paul'),
 (92, 'Verne', 'Jules'),
 (93, 'Virgile', None),
 (94, 'Zola', 'Emile'),
 (95, 'Zorn', 'Fritz'),
 (96, 'Wilde', 'Oscar'),
 (97, 'Vigny', 'Alfred de'),
 (98, 'Maturin', 'Robert'),
 (99, 'Cesar', 'Jules'),
 (100, 'Woolf', 'Virginia')]

#### Exercise 2.9

What clients (buveurs) have bought ONLY wines from 1980?

In [157]:
%%sql
SELECT NB, NOM, PRENOM
FROM CUSTOMER
WHERE  NB  IN (
    SELECT NB 
    FROM BUYS B JOIN WINE W ON W.NV=B.NV
    WHERE MILL = 1980
)
except
SELECT NB, NOM, PRENOM
FROM CUSTOMER
WHERE  NB  IN (
    SELECT NB 
    FROM BUYS B JOIN WINE W ON W.NV=B.NV
    WHERE MILL <> 1980
)

 * sqlite:///wine.db
Done.

[(44, u'Gide', u'Andre'), (45, u'Giono', u'Jean'), (50, u'Lautreamont', None)]

In [155]:
%%sql 

SELECT NB, NOM, PRENOM
FROM CUSTOMER
WHERE  NB  IN (
    SELECT NB 
    FROM BUYS B JOIN WINE W ON W.NV=B.NV
    WHERE MILL = 1980
)
AND NB NOT IN (
SELECT NB
FROM CUSTOMER
WHERE  NB  IN (
    SELECT NB 
    FROM BUYS B JOIN WINE W ON W.NV=B.NV
    WHERE MILL <> 1980
))

 * sqlite:///wine.db
Done.

[(44, u'Gide', u'Andre'), (45, u'Giono', u'Jean'), (50, u'Lautreamont', None)]

#### Exercise 2.10

List all wines from 1980

In [159]:
%%sql
SELECT NV, CRU, MILL, DEGRE 
FROM WINE
WHERE MILL=1980

 * sqlite:///wine.db
Done.

[(1, u'Mercurey', 1980, 11.5),
 (4, u'Mercurey', 1980, 10.9),
 (16, u'Meursault', 1980, 12.1),
 (20, u'Cote de Brouilly', 1980, 12.1),
 (26, u'Chateau Corton Grancey', 1980, None),
 (28, u'Volnay', 1980, 11),
 (43, u'Fleurie', 1980, 11.4),
 (74, u'Arbois', 1980, 12),
 (78, u'Etoile', 1980, 12),
 (79, u'Seyssel', 1980, 11),
 (80, u'Seyssel', 1980, 11),
 (81, u'Cornas', 1980, 11.1),
 (82, u'Cornas', 1980, 11),
 (83, u'Saint Amour', 1980, 10),
 (84, u'Rasteau', 1980, 10),
 (85, u'Tavel', 1980, 11),
 (86, u'Tavel', 1980, 11),
 (87, u'Cotes de Provence', 1980, None)]

#### Exercise 2.11

What are the wines from 1980 bought by NB=2?

In [161]:
%%sql
SELECT W.NV, CRU, MILL, DEGRE 
FROM WINE W JOIN BUYS B ON B.NV=W.NV
WHERE MILL=1980 AND NB=2

 * sqlite:///wine.db
Done.

[(1, u'Mercurey', 1980, 11.5)]

#### Exercise 2.12

What clients (buveurs) have bought ALL the wines from 1980?

In [162]:
%%sql
SELECT C.NB, NOM, PRENOM
FROM WINE W JOIN BUYS B ON B.NV=W.NV JOIN CUSTOMER C ON C.NB=B.NB
WHERE MILL=1980
GROUP BY C.NB, NOM, PRENOM
HAVING COUNT(distinct W.NV) = (SELECT COUNT(*)
                              FROM WINE 
                               WHERE MILL=1980)

 * sqlite:///wine.db
Done.

[(44, u'Gide', u'Andre')]